@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2%;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a 2 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Adiciona os "..." */
}

.book-details-container {
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.no-scroll {
  overflow: hidden;
}